header{
	background-color:  forestgreen 
}

header img {
    width: 50px;
}

header h1 {
    font-weight: 400;
    margin: 0 0 0 10px;
}

main {
    width: 600px;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}